/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  background-color: hsl(210, 46%, 95%);
}

h1{
  display: none;
}

.container {
  margin: 10% auto;
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";
  max-width: 20em;
}

.testimonial {
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 6px 5px 24px 1px rgba(0, 0, 0, 0.32);
}

.testimonial:nth-child(1) {
  grid-area: one;
}
.testimonial:nth-child(2) {
  grid-area: two;
}
.testimonial:nth-child(3) {
  grid-area: three;
}
.testimonial:nth-child(4) {
  grid-area: four;
}
.testimonial:nth-child(5) {
  grid-area: five;
}



.profile {
  display: flex;
  margin-bottom: 1em;
}

img {
  height: 2em;
  border-radius: 50%;
  margin-right: 1em;
}

.quote {
  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 10%;
}

.daniel {
  background-color: hsl(263, 55%, 52%);
}

.jonathan {
  background-color: hsl(217, 19%, 35%);
}

.patrick {
  background-color: hsl(219, 29%, 14%);
}

.jeanette,
.kira {
  background-color: hsl(0, 0%, 100%);
  color: hsl(219, 29%, 14%);
}

.daniel,
.jonathan,
.patrick {
  color: hsl(0, 0%, 100%);
}

.review-header {
  font-weight: 600;
  font-size: 16px;
  display: block;
  margin-bottom: 1em;
}

.review,
.verified {
  font-size: 10px;
}

.darker {
  color: hsla(219, 29%, 14%, 0.7);
}

.lighter {
  color: hsl(0, 0%, 100%, 0.7);
}

.dark {
  color: hsla(219, 29%, 14%, 0.5);
}

.light {
  color: hsl(0, 0%, 100%, 0.5);
}
/* Responsiveness for tablet */
@media screen and (min-width: 600px){
    .container{
        max-width: 40em;
    }
}

/* Responsiveness for desktop */
@media screen and (min-width: 1000px) {
  .container {
    grid-template-areas:
      "one one two five"
      "three four four five";
    max-width: 70em;
  }
}
